html,body {
    margin: 1;
    font-family: 'Open Sans', sans-serif;
    background: rgb(234, 234, 234);
    }
.hero-body {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }
.mysocial { color: hsl(0, 0%, 100%);}
.mysocial:hover { color: hsl(130, 45%, 35%) }

* {box-sizing: border-box;}

/* Style the navbar */
.navbar {
  overflow: hidden;
  background-color: #166d0eee;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* icon */
.material-icons.md-48 { color: rgba(255, 255, 255, 1); }

/* font */
p {
  font-family: 'Chivo', sans-serif;
  color: rgb(25, 26, 25);
  font-size: 17px;
  line-height:30px;
}

/* Navbar links */
.navbar a {
  float: none;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: rgb(123, 160, 172);
  color: white;
}

/* css efect text nofegreen */
h6 {
  color: white;
  text-shadow: 1px 1px 2px greenyellow, 0 0 25px greenyellow, 0 0 5px greenyellow (250, 0, 0);
  font-family: 'Righteous', cursive;
}

/* card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .navbar .search-container {
    float: none;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
}